.bg-orange {
    background-color: #2789b0;
    color: #FFFFFF !important;
}
.bg-primary {
    background-color: #2789b0;
    color: #FFFFFF;
}
.bg-white {
    background-color: white;
    color: black
}
.bg-light-blue {
    background-color: #f4f8fb;
    color: #fa5903 !important;
}

.bg-dark-blue {
    background-color: #f4f8fb;
    color: #fa5903 !important;
}

.bg-black {
    background-color: rgb(51, 49, 49);
}
.bg-whitesmoke {
    background-color: whitesmoke !important;
}
.text-primary {
    color: #2789b0 !important;
}

.text-grey {
    color: grey !important;
}

.text-white {
    color: white !important;
}

.text-orange {
    color: #0b3a19 !important;
}


.active-text {
    color: #2789b0 !important;
    font-weight: bold;
}
